/*    nav */
.post-nav {
  height: 68px;
  background: #f7f8f8;
  box-shadow: 0px 0.5px 6px 1px #ccc;
  display: flex;
}
.post-nav .nav-content {
  align-items: center;
}
.post-nav .nav-content .icon-back {
  margin: 0 40px;
}
.post-nav .nav-content img {
  height: 30px;
}

#recaptcha-container {
  height: 80px;
  width: 350px;
  margin-bottom: 10px;
}
.login-form-container {
  height: 80vh;
}
.login-form-inner {
  margin-top: 10% !important;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  border: 1px solid #555;
  border-radius: 5px;
  box-shadow: 1px 2px 10px 2px #000000a6;
}
form {
  height: fit-content;
  width: fit-content;
  padding: 20px 10px;
}
.login-heading {
  margin-bottom: 20px;
  margin-top: 20px;
}
.login-form-container .login-form-inner input {
  margin-left: 10px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #c1c1c1;
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.send-btn {
  width: 89%;
  border: none;
  background-color: #4a90e2;
  height: 40px;
  color: white;
  transition: 0.5s;
}
.send-btn:hover {
  width: 86%;
  background-color: #525252;
  height: 38px;
}
.send-btn:focus {
  width: 86%;
  background-color: #525252;
  height: 38px;
}
